name: Merge VPN Configs

permissions:
  contents: write

on:
  schedule:
    - cron: '0 */3 * * *'  # Every 3 hours
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout with PAT
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.PAT_TOKEN }}
        persist-credentials: false

    - name: Download, process and merge configs
      run: |
        echo "# Merged VPN Config - Updated on $(date -u)" > merged_config.txt
        echo "" >> merged_config.txt

        echo "## Source 1: arshiacomplus - config_lite.txt (Random 30)" >> merged_config.txt
        curl -s https://raw.githubusercontent.com/arshiacomplus/v2rayExtractor/refs/heads/main/hy2.html | shuf -n 30 | sed 's/#.*/#@kingo_team/g' >> merged_config.txt
        echo -e "\n\n" >> merged_config.txt

        echo "## Source 2: 4n0nymou3 - ss.txt (Random 30)" >> merged_config.txt
        curl -s https://raw.githubusercontent.com/4n0nymou3/multi-proxy-config-fetcher/refs/heads/main/configs/proxy_configs.txt | shuf -n 30 | sed 's/#.*/#@kingo_team/g' >> merged_config.txt
        echo -e "\n\n" >> merged_config.txt

        echo "## Source 3: Argh94 - V2Hub5 shadowsocks (Random 30)" >> merged_config.txt
        curl -s https://raw.githubusercontent.com/Argh94/V2RayAutoConfig/refs/heads/main/configs/Hysteria2.txt | shuf -n 30 | sed 's/#.*/#@kingo_team/g' >> merged_config.txt
        echo -e "\n\n" >> merged_config.txt

        echo "## Source 4: darkvpnapp - V2Hub3 shadowsocks (Random 30)" >> merged_config.txt
        curl -s https://raw.githubusercontent.com/darkvpnapp/CloudflarePlus/refs/heads/main/proxy | shuf -n 30 | sed 's/#.*/#@kingo_team/g' >> merged_config.txt
        echo -e "\n\n" >> merged_config.txt

        echo "## Source 5: kobabi - sub.txt (Random 30)" >> merged_config.txt
        curl -s https://raw.githubusercontent.com/liketolivefree/kobabi/main/sub.txt | shuf -n 30 | sed 's/#.*/#@kingo_team/g' >> merged_config.txt
        echo -e "\n\n" >> merged_config.txt

    - name: Commit and push changes
      env:
        PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git remote set-url origin https://x-access-token:${PAT_TOKEN}@github.com/kingowow/Kingo-vpn.git

        git add merged_config.txt
        git diff --cached --quiet || (git commit -m "Auto update merged_config.txt" && git push origin main)
